/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    div div a.switch_menu_active:link, div div a.switch_menu_active:active, div div a.switch_menu_active:visited, div div a.switch_menu_active:hover,
    div div a.switch_menu_passive:link, div div a.switch_menu_passive:active, div div a.switch_menu_passive:visited, div div a.switch_menu_passive:hover {
        width:auto;
        padding:6px 35px;
    }
    div div .switch_menu_btn_align_icon {
        left:-15px;
    }
}

@media only screen and (max-width : 570px) {
    div .landing_main_title_text {
        padding-left:0px;
        padding-top:0px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .switch_text_or {
        display:none;
    }
    div .switch_menu_btn_align {
        padding-top:35px;
	    text-align:center;
    }
    div .switch_menu_btn_align_icon {
        padding-top:40px;
	    text-align:left;
    }
    div a.switch_menu_active:link, div a.switch_menu_active:active, div a.switch_menu_active:visited, div a.switch_menu_active:hover,
    div a.switch_menu_passive:link, div a.switch_menu_passive:active, div a.switch_menu_passive:visited, div a.switch_menu_passive:hover {
        width:200px;
    }
    div .logo_align {
        text-align:center;
    }
    div .landing_tender_title_text {
        padding-right:0px;
    }
    div .lpadding40_rosm {
        padding-left:0px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

.container-fluid {
	max-width:980px;
	padding:0;
}

.row,
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

/* css classes based on specific page*/
/* css classes based on specific page*/

.spletna_stran {
	margin:0px auto 0px auto;
}

.glava_spletna_stran {
	padding:25px 0px;
}

.telo_spletna_stran {
    padding:25px 0px 0px 0px;
}

.telo_vsebina_spletna_stran {}

.menu {
    padding:12px 4px 12px 4px;
    border-bottom:1px solid #000;
}

.search_bar {
    padding:4px;
    background-color:#fff;
    -webkit-box-shadow: -1px 9px 23px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: -1px 9px 23px 0px rgba(0,0,0,0.66);
    box-shadow: -1px 9px 23px 0px rgba(0,0,0,0.66);
    position:relative;
    top:10px;
}

.search_text {
    font-style:italic;
    color:#b7b7b7;
}

/* tab section */
/* tab section */

.tab_section {
    border-bottom:1px solid #0d5296;
    margin-bottom:20px;
}
.tab_common {
    background-color:transparent;
    padding:12px 1.2em 14px 1.2em;
    border:1px solid #0d5296;
    border-bottom:0;
    float:left;
}
.tab_active {
    background-color:#facb00;
}
.tab_passive {
    cursor:pointer;
}

/* chart section */
/* chart section */

.chart_meta_col {
    border-top:2px solid #facb00;
    border-right:2px solid #facb00;
    padding:5px 5px 5px 8px;
    text-align:left;
}
.chart_meta_col_r {
    border-right:0;
}

/* read more / read less bnts */
/* read more / read less bnts */

.read-more, .read-less {
    float:right;
    text-decoration:underline;
    padding-top:5px;
    cursor:pointer;
}

/* footer */
/* footer */

.noga_spletna_stran {
	clear:both;
	background-color:#01488C;
	padding:35px 0px 85px 0px;
}

.noga_eu_flag {
    background:transparent url(/images/eu_flag_foot.png) top left no-repeat;
    padding:0px 15px 0px 170px;
    min-height: 100px;
}
.noga_flaticons {
    background:transparent url(/images/icon_flaticon.png) 25px 0px no-repeat;
    background-size:100px;
    padding:0px 15px 0px 170px;
    min-height: 100px;
}
/* general classes */
/* general classes */

.pas_rumen {
    background-color:#facb01;
    padding:20px 0px;
    text-align:center;
}

.lpadding40_rosm {
    padding-left:40px;
}

.pointer {
    cursor:pointer;
}

.loading_box {
    padding:30px 0px;
}

/* links */
/* links */

a.tab_active:link, a.tab_active:active, a.tab_active:visited, a.tab_active:hover {
    background-color:#facb00;
    text-decoration:none;
}
a.tab_passive:link, a.tab_passive:active, a.tab_passive:visited, a.tab_passive:hover {
    background-color:transparent;
    text-decoration:none;
}


a.switch_menu_active:link, a.switch_menu_active:active, a.switch_menu_active:visited, a.switch_menu_active:hover {
    background-color:#0d5296;
    padding:6px 0px;
    width:240px;
    color:#fff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
}

a.switch_menu_passive:link, a.switch_menu_passive:active, a.switch_menu_passive:visited {
    background-color:#fff;
    padding:6px 0px;
    width:240px;
	text-decoration:none;
	border:1px solid #0d5296;
	display:inline-block;
	text-align:center;
	-webkit-box-shadow: 8px 8px 1px -3px #facb00;
	-moz-box-shadow: 8px 8px 1px -3px #facb00;
    box-shadow: 8px 8px 1px -3px #facb00;
}
a.switch_menu_passive:hover {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color:#0d5296;
	color:#fff;
}

a.switch_menu_active:link, a.switch_menu_active:active, a.switch_menu_active:visited, a.switch_menu_active:hover {
    background-color:#0d5296;
    padding:6px 0px;
    width:240px;
    color:#fff;
	text-decoration:none;
	display:inline-block;
	text-align:center;
}
.switch_menu_btn_align {
    padding-top:15px;
	text-align:right;
}
.switch_menu_btn_align_icon {
    padding-top:20px;
	text-align:center;
}

a.switch_menu_passive_cntrst:link, a.switch_menu_passive_cntrst:active, a.switch_menu_passive_cntrst:visited {
    background-color:#facb00;
    padding:6px 0px;
    width:240px;
	text-decoration:none;
	border:1px solid #0d5296;
	display:inline-block;
	text-align:center;
	-webkit-box-shadow: 8px 8px 1px -3px #0d5296;
	-moz-box-shadow: 8px 8px 1px -3px #0d5296;
    box-shadow: 8px 8px 1px -3px #0d5296;
}
a.switch_menu_passive_cntrst:hover {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color:#0d5296;
	color:#fff;
}

a.method_menu:link, a.method_menu:active, a.method_menu:visited {
    margin:10px;
    background-color:#fff;
    border:3px solid #facb00;
	text-decoration:none;
	display:inline-block;
	text-align:center;
}
a.method_menu:hover {
    background-color:#facb00;
}
.method_menu_text {
    padding:0px 0px 10px 0px;
    display:inline-block;
}
a.method_menu_active:link, a.method_menu_active:active, a.method_menu_active:visited, a.method_menu_active:hover {
    background-color:#facb00;
}


.btn-moder {
	font-size:1em;
	background-color: #0d5296;
	border-color: #0d5296;
	color:#fff;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	white-space:nowrap;
	display:block;
	padding:5px 15px 5px 15px;
	text-decoration:none;
}
.btn-moder:link,
.btn-moder:visited {
	background-color: #0d5296;
	border-color: #0d5296;
	color:#fff;
	text-decoration:none;
}
.btn-moder:hover,
.btn-moder:focus,
.btn-moder:active,
.btn-moder.active {
	background-color: #0d5296;
	border-color: #0d5296;
	color:#fff;
	text-decoration:none;
}
.btn-moder.disabled:hover,
.btn-moder.disabled:focus,
.btn-moder.disabled:active,
.btn-moder.disabled.active,
.btn-moder[disabled]:hover,
.btn-moder[disabled]:focus,
.btn-moder[disabled]:active,
.btn-moder[disabled].active,
fieldset[disabled] .btn-moder:hover,
fieldset[disabled] .btn-moder:focus,
fieldset[disabled] .btn-moder:active,
fieldset[disabled] .btn-moder.active {
	background-color: #0d5296;
	border-color: #0d5296;
}


.btn-bel {
	font-size:1em;
	background-color: #fff;
	border-color: #0d5296;
	color:#0d5296;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	white-space:nowrap;
	display:block;
	padding:5px 15px 5px 15px;
	text-decoration:none;
}
.btn-bel:link,
.btn-bel:visited {
	background-color: #0d5296;
	border-color: #0d5296;
	color:#fff;
	text-decoration:none;
}
.btn-bel:hover,
.btn-bel:focus,
.btn-bel:active,
.btn-bel.active {
	background-color: #0d5296;
	border-color: #0d5296;
	color:#fff;
	text-decoration:none;
}
.btn-bel.disabled:hover,
.btn-bel.disabled:focus,
.btn-bel.disabled:active,
.btn-bel.disabled.active,
.btn-bel[disabled]:hover,
.btn-bel[disabled]:focus,
.btn-bel[disabled]:active,
.btn-bel[disabled].active,
fieldset[disabled] .btn-bel:hover,
fieldset[disabled] .btn-bel:focus,
fieldset[disabled] .btn-bel:active,
fieldset[disabled] .btn-bel.active {
	background-color: #0d5296;
	border-color: #0d5296;
}

.btn-rumen {
	font-size:1em;
	background-color: #facb00;
	border-color: #0d5296;
	color:#0d5296;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	white-space:nowrap;
	display:block;
	padding:5px 15px 5px 15px;
	text-decoration:none;
}
.btn-rumen:link,
.btn-rumen:visited {
	background-color: #facb00;
	border-color: #0d5296;
	color:#fff;
	text-decoration:none;
}
.btn-rumen:hover,
.btn-rumen:focus,
.btn-rumen:active,
.btn-rumen.active {
	background-color: #0d5296;
	border-color: #0d5296;
	color:#fff;
	text-decoration:none;
}
.btn-rumen.disabled:hover,
.btn-rumen.disabled:focus,
.btn-rumen.disabled:active,
.btn-rumen.disabled.active,
.btn-rumen[disabled]:hover,
.btn-rumen[disabled]:focus,
.btn-rumen[disabled]:active,
.btn-rumen[disabled].active,
fieldset[disabled] .btn-rumen:hover,
fieldset[disabled] .btn-rumen:focus,
fieldset[disabled] .btn-rumen:active,
fieldset[disabled] .btn-rumen.active {
	background-color: #0d5296;
	border-color: #0d5296;
}

/* tenders landing */

.landing_tender_title_text {
    padding:0px 40px 30px 0px;
}

/* main */

.landing_main_title_text {
    padding:30px 0px 30px 60px;
}

/* texts and links css */
/* texts and links css */

.text_title {
    font-family: 'Roboto Mono', monospace;
}

.text_bel {
    color:#fff;
}

.text_rumen {
    color:#facb00;
}

.text_moder {
    color:#0d5296;
}

.text_crn {
    color:#000;
}

.text_rdec {
    color:#ff0000;
}

a.link_bel:link, a.link_bel:active, a.link_bel:visited, a.link_bel:hover {
	color:#ffffff;
}

a.link_rumen:link, a.link_rumen:active, a.link_rumen:visited, a.link_rumen:hover {
	color:#facb00;
}

a.link_moder:link, a.link_moder:active, a.link_moder:visited, a.link_moder:hover {
	color:#0d5296;
}

a.link_crn:link, a.link_crn:active, a.link_crn:visited, a.link_crn:hover {
	color:#000000;
}
